<!DOCTYPE html>
	<html ng-app="myApp">
		<head>
		<link rel="stylesheet" href="/controllers/styles.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		</head>
		<body>

		    <div class="container" ng-controller="AppCtrl1" >
		 	<p>
		      <h1 class="flash">CSE 5335</h1>
				</p>
		      
		      <button ng-click="update()">START</button> &nbsp &nbsp &nbsp
 		      
		        <br/><br/><br/>
		  

		      <div ng-repeat="m in mov" class="mymove">
		      	<table  class="table">
			      <tr>
			    	<td><h3 class="flash">{{m.fields.title}}</h3>
				    	<ul>

					      <li><b>IMDB Rating: </b>{{m.fields.rating}}</li>
					      <li><b>Release Year:</b>{{m.fields.year}}</li>
					      <li><b>Rank:</b>{{m.fields.rank}}</li>
					      <li ng-repeat="director in m.fields.directors" ><b>Director:</b>{{director}}</li>
					      </ul>
			    		<table>
		      				<tr><b>Actors:</b></tr>
		      				<td ng-repeat="actors in m.fields.actors" >{{actors}}&nbsp&nbsp&nbsp </td> 
		      			</table>
		      		</td>
		     	</table>
		      
		      </div>	
		      <div ng-repeat="lst in list">
		      <div ng-repeat="l in lst">
		      <table  class="table">
			      
			    	<td><h3 class="flash">{{l.fields.title}}</h3>
				    	<ul>

					      <li><b>IMDB Rating: </b>{{l.fields.rating}}</li>
					      <li><b>Release Year:</b>{{l.fields.year}}</li>
					      <li><b>Rank:</b>{{m.fields.rank}}</li>
					      <li ng-repeat="director in l.fields.directors" ><b>Director:</b>{{director}}</li>
					      </ul>
			    		<table>
		      				<tr><b>Actors:</b></tr>
		      				<td ng-repeat="actors in l.fields.actors" >{{actors}}&nbsp&nbsp&nbsp </td> 
		      			</table>
		      		</td>
		     	</table>
		      	
		      </div>      
		    </div>
		</div>
		  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
	      <script src="/controllers/controller.js"></script>     

		</body>
</html>

